

.up{
	height:100%;
	width:100%;
	background:linear-gradient(0deg,rgba(25,0,20,0.3),rgba(25,0,20,0.3)),url("b1.png")   ;
	background-repeat:no-repeat; 
background-size:100%;


}

.but1{
	background-color: #555555;
	border:none;
	color:white;
	padding:12px 22px;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	transform: translate(0px,0px);

}

.centree img{
	position: relative;
display: block;

opacity:0.9;
    
   
    
    background-color: transparent;
    
    margin-left: auto;
    margin-right: auto;
    width: 280px;
height: 280px;




    
}
 .vac_butt{
 	transform: translate(0px,260px);
 }
  .but2{
  	background-color:transparent;
  	border-style:;
  	color:white;
  	font-size: 18px;
  	padding:12px 12px;
  	border-radius: 33px;
  	width:160px;
  	cursor:pointer;
  transform: translate(-55px ,-600px);

  }
  .but3{
  	background-color: transparent;
  	font-size: 12px;
  	padding:10px 12px;

  }

  .fixed{position: fixed;
  	z-index:1;}
.d1{ height:280px;
	background-color:white;

 box-shadow: 2px 2px 8px 8px #888888;
transform: translate(0px,50px);
margin-left: 60px;
margin-right: 60px;


}
.d2{   height:280px;
	background-color:white;

 box-shadow: 2px 2px 8px 8px #888888;
transform: translate(0px,100px);
margin-left: 60px;
margin-right: 60px;
}
.im1{
	transform: translate(1105px,-308px);
	 clip-path: polygon(200px 0px, -210px 1000px, 600px 200px, 700px 0px);


}
.im2{transform: translate(0px,-308px);

  clip-path: polygon(0 0, 0 750px, 350px 0px, 100px 0);

}
.im3{
	transform: translate(1105px,-257px);
	 clip-path: polygon(200px 0px, -210px 1000px, 600px 200px, 700px 0px);
}
.d3{   height:280px;
	background-color:white;

 box-shadow: 2px 2px 8px 8px #888888;
transform: translate(0px,150px);
margin-left: 60px;
margin-right: 60px;
}
  .p1{display:block;

transform: translate(1240px,-90px);

  }
  .pos {
  	transform: translate(500px,-400px);}
  	.footer{
  		margin-top: 400px;
  		width: 100%;
  		background:url("footer.png");
  		
  		height:170px;
  	 }
  	 .fa{
  	 	padding: 20px;
  	 	font-size: 30px;
  	 	text-align: center;
  	 }
  .last{
  	background-color:purple;
  	height: 40px;
  	width:100%;
  	margin-top: 0px;
  	text-align: center;
  	padding-top: 12PX;
}
.but2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.but2:hover span {
  padding-right: 25px;
}

.but2:hover span:after {
  opacity: 1;
  right: 0;
}



.but3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.but3:hover span {
  padding-right: 25px;
}

.but3:hover span:after {
  opacity: 1;
  right: 0;
}
.centree img{

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.centree img:hover  
{
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
}  
}
.but1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


